/* Custom CSS */
/* Set a smaller font size for all elements */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, a, input, select, textarea, button {
  font-size: 11px; /* Adjust the font size to your preference */
}


body {
  background-color: #f8f9fa; /* Set a background color */
}

.navbar {
  background-color: #221e5a; /* Set your primary color as the background for the navbar */
}

.navbar .navbar-brand {
  color: #fff; /* Set text color for the brand/logo */
}

.navbar .nav-item {
  margin-right: 10px; /* Add some spacing between navbar items */
  background-color: #221e5a;
}

.nav-link {
  color: #fff; /* Set text color for the navbar links */
}

/* Style for the table container */
#functionData {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style for buttons */
.btn-primary a {
  color: #fff !important; /* Set text color for links within buttons to white */
}
.btn-primary {
  background-color: transparent !important; /* Set background to transparent */
  border-color: #221e5a !important; /* Set border color for buttons */
  color: #fff; /* Set text color for buttons */
}

.btn-primary:hover {
  background-color: transparent; /* Set background to transparent on hover */
  border-color: #1c194f; /* Darken the border color on hover */
  color: #fff; /* Set text color for buttons on hover */
}
.btn-secondary a {
  color: #000000 !important; /* Set text color for links within buttons to white */
}
.btn-secondary {
  background-color: transparent !important; /* Set background to transparent */
  border-color: #221e5a !important; /* Set border color for buttons */
  color: #000000; /* Set text color for buttons */
}

.btn-secondary:hover {
  background-color: transparent; /* Set background to transparent on hover */
  border-color: #1c194f; /* Darken the border color on hover */
  color: #000000; /* Set text color for buttons on hover */
}

/* Remove background color from buttons within the navbar-nav ml-auto class */
.navbar-nav.ml-auto .btn-primary {
  background-color: transparent; /* Set background to transparent */
  border-color: #221e5a; /* Set border color for buttons */
  color: #fff; /* Set text color for buttons */
}

/* Style for buttons within the navbar-nav ml-auto class on hover */
.navbar-nav.ml-auto .btn-primary:hover {
  background-color: transparent; /* Set background to transparent on hover */
  border-color: #1c194f; /* Darken the border color on hover */
  color: #fff; /* Set text color for buttons on hover */
}


/* Add a custom class for styling */
.custom-btn {
  background-color: transparent;
  border: none;
  color: #060606;
}

/* Add hover effect for the custom buttons */
.custom-btn:hover {
  background-color: transparent;
  border: none;
  color: #fff;
}

#uploadTransactions {
  color: #fff !important;
  text-decoration: none !important; /* Remove underline from the link text */
}

/* Set a smaller font size for table data cells */
.table td {
  font-size: 12px; /* Adjust the font size to your preference */
}

/* Apply red background to rows where Amount Paid is equal to zero in the Rent Roll table */
.rent-roll-table td.zero-amount {
  background-color: lightcoral; /* Adjust the background color to your preference */
}

/* Apply orange background to rows where Amount Paid is greater than Amount Due in the Rent Roll table */
.rent-roll-table td.greater-amount {
  background-color: rgb(231, 240, 128); /* Adjust the background color to your preference */
}

.table td .btn {
  margin: 0;
  padding: 5px 10px; /* Adjust as needed */
  width: auto; /* Or a specific percentage */
  max-width: 100%; /* Ensures button doesn't exceed cell width */
  box-sizing: border-box; /* Include padding and border in the button's dimensions */
  overflow: hidden; /* Optional: hide the overflow */
}

/* CSS to style the notification */
#notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#notification-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.total-row td {
  font-weight: bold;
}

/* Color-coding for rows based on conditions */
.red-row {
  background-color: #ffcccc; /* Light red for escalation date < 3 months and status null */
}

.yellow-row {
  background-color: #ffffcc; /* Light yellow for < 3 months, notice sent, and tenant decision null */
}

.green-row {
  background-color: #ccffcc; /* Light green for < 3 months and tenant decision not null */
}

.detailRow td {
  background-color: #f0f0f0; /* Light grey background */
  padding: 10px; /* Add some padding */
  border-top: 1px solid #ddd; /* Light border on top */
}

/* Deposit Status Colors */
.deposit-paid {
  color: green;
}

.deposit-overdue {
  color: red;
}

.deposit-overpaid {
  color: orange;
}

#pdf-container canvas {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: adds a subtle shadow for depth */
}

@media (max-width: 768px) {
  .btn.custom-btn {
      padding: 0.75rem 1.25rem;
      font-size: 1rem;
  }
}

@media (max-width: 768px) {
  #pdf-container-id { /* Replace with your actual container ID */
      flex-direction: column;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.association-detail-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px; /* Ensure padding is consistent for all blocks */
}

/* Ensure all blocks have a consistent basis and allow them to grow as needed */
.block-left, .block-middle, .block-right {
  flex-basis: calc(33.333% - 20px); /* Adjust based on padding/margins to ensure even distribution */
}

.block-middle {
  display: flex; /* Adjust this to flex to align children horizontally */
  justify-content: flex-start; /* Align children to the start */
  flex-wrap: wrap; /* Allow items to wrap if needed */
  gap: 10px; /* Adjust gap between items */
}

.unique-ref-input {
  display: flex;
  width: 100%; /* Take up full width to match other elements */
  gap: 10px; /* Adjust the space between the input and button */
}

.unique-ref-input input, .unique-ref-input button {
  flex: 1; /* Makes input and button take up equal width */
  height: 20px; /* Example fixed height - adjust as needed */
}

/* Additional styling to ensure visual consistency */
.block-left span, .block-middle > div, .block-right {
  display: flex;
  align-items: center; /* Center align items for aesthetic consistency */
  min-height: 40px; /* Ensure a consistent height for all elements */
}
